{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #FFFFFF; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<hi>Bienvenue</hi>
    <p>
        <a href="{{path('connecté.html.twig')}}"> Se connecter </a>
        <p> S'enregistrer</p>
    </p>
</div>
{% endblock %}
